menu "Application Configuration"

    orsource "$IDF_PATH/examples/_my_examples/common/APL/apl_console/Kconfig.apl_console"

    menu "lvgl Application Configuration"

        choice EXAMPLE_LCD_CONTROLLER
            prompt "LCD controller model"
            default EXAMPLE_LCD_CONTROLLER_ILI9341
            help
                Select LCD controller model

            config EXAMPLE_LCD_CONTROLLER_ILI9341
                bool "ILI9341"

            config EXAMPLE_LCD_CONTROLLER_GC9A01
                bool "GC9A01"

            config EXAMPLE_LCD_CONTROLLER_ST7789
                bool "ST7789"

        endchoice

        config EXAMPLE_LCD_TOUCH_ENABLED
            bool "Enable LCD touch"
            default n
            help
                Enable this option if you wish to use display touch. You can select from touch controllers.

        choice EXAMPLE_LCD_TOUCH_CONTROLLER
            prompt "LCD touch controller model"
            depends on EXAMPLE_LCD_TOUCH_ENABLED
            default EXAMPLE_LCD_TOUCH_CONTROLLER_STMPE610
            help
                Select LCD touch controller model

            config EXAMPLE_LCD_TOUCH_CONTROLLER_STMPE610
                bool "STMPE610"
                help
                    Touch controller STMPE610 connected via SPI.
        endchoice

        config LCD_SPI_USE_IOMUX_PINS
            bool "Use IOMUX pins for SPI interface of LCD"
            default y
            help
                Enable this option to use the built-in (IOMUX) pins for the SPI interface
                used by the LCD. If disabled, you can route SPI signals through GPIO matrix
                to any available GPIO.

                Enabling this option may result in better performance and lower CPU usage.

    endmenu

    menu "esp32Cam WIFI Configuration"
        config ESP_WIFI_SSID
            string "WiFi STA SSID"
            default ""
            help
            WiFi SSID (network name) to connect to or empty for Off.

        config ESP_WIFI_PASSWORD
            string "WiFi STA Password"
            default ""
            help
            WiFi Password if WEP/WPA/WPA2 or empty if Open.

        config ESP_WIFI_AP_SSID
            string "WiFi AP SSID"
            default "ESP32-Camera"
            help
            AP SSID (network name) to create or empty for Off.

        config ESP_WIFI_AP_PASSWORD
            string "WiFi AP Password"
            default ""
            help
            AP password for WPA2 or empty for Open.

        config MAX_STA_CONN
            int "Maximal STA connections"
            default 1
            help
            Max number of the STA connects to AP.

        config ESP_WIFI_AP_CHANNEL
            string "WiFi AP Channel"
            default ""
            help
            AP channel for better connection performance.

        config SERVER_IP
            string "WiFi AP IP Address"
            default "192.168.4.1"
            help
                IP address that the ESP will assign to it's AP interface. You can use this IP to connect to the camera after flashing.

        config ESP_MAXIMUM_RETRY
            int "Maximum retry"
            default 5
            help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
            
    endmenu
endmenu