menu "Application Configuration"

    menu "Console Options"

        config APP_ENABLE_CONSOLE
            bool "Enable Console Support"
            default y
            help
                Enable console command line support. This allows the application
                to accept commands via UART and execute them.

        if APP_ENABLE_CONSOLE

            config CONSOLE_STORE_HISTORY
                bool "Store command history in flash"
                default n
                help
                    Linenoise line editing library provides functions to save and load
                    command history. If this option is enabled, initializes a FAT filesystem
                    and uses it to store command history.

            config CONSOLE_IGNORE_EMPTY_LINES
                bool "Ignore empty lines inserted into the console"
                default y
                help
                    If an empty line is inserted to the console, the Console can either
                    ignore empty lines (the example would continue), or break on empty lines
                    (the example would stop after an empty line).

            config FORCE_SUPPORTS_ESCAPE_SEQ
                bool "Force support for terminal escape sequences"
                default y
                help
                    Some terminal programs support escape sequences (e.g., ANSI codes)
                    for color, cursor movement, and screen control. If this option is enabled,
                    the console will assume the terminal supports these escape sequences,
                    even if automatic detection fails.

        endif # APP_ENABLE_CONSOLE

    endmenu # "Console Options"

    menu "lvgl Application Configuration"

        choice EXAMPLE_LCD_CONTROLLER
            prompt "LCD controller model"
            default EXAMPLE_LCD_CONTROLLER_ILI9341
            help
                Select LCD controller model

            config EXAMPLE_LCD_CONTROLLER_ILI9341
                bool "ILI9341"

            config EXAMPLE_LCD_CONTROLLER_GC9A01
                bool "GC9A01"

            config EXAMPLE_LCD_CONTROLLER_ST7789
                bool "ST7789"

        endchoice

        config EXAMPLE_LCD_TOUCH_ENABLED
            bool "Enable LCD touch"
            default n
            help
                Enable this option if you wish to use display touch. You can select from touch controllers.

        choice EXAMPLE_LCD_TOUCH_CONTROLLER
            prompt "LCD touch controller model"
            depends on EXAMPLE_LCD_TOUCH_ENABLED
            default EXAMPLE_LCD_TOUCH_CONTROLLER_STMPE610
            help
                Select LCD touch controller model

            config EXAMPLE_LCD_TOUCH_CONTROLLER_STMPE610
                bool "STMPE610"
                help
                    Touch controller STMPE610 connected via SPI.
        endchoice

    endmenu

    menu "esp32Cam Configuration"
        config ESP_WIFI_SSID
            string "WiFi STA SSID"
            default ""
            help
            WiFi SSID (network name) to connect to or empty for Off.

        config ESP_WIFI_PASSWORD
            string "WiFi STA Password"
            default ""
            help
            WiFi Password if WEP/WPA/WPA2 or empty if Open.

        config ESP_WIFI_AP_SSID
            string "WiFi AP SSID"
            default "ESP32-Camera"
            help
            AP SSID (network name) to create or empty for Off.

        config ESP_WIFI_AP_PASSWORD
            string "WiFi AP Password"
            default ""
            help
            AP password for WPA2 or empty for Open.

        config MAX_STA_CONN
            int "Maximal STA connections"
            default 1
            help
            Max number of the STA connects to AP.

        config ESP_WIFI_AP_CHANNEL
            string "WiFi AP Channel"
            default ""
            help
            AP channel for better connection performance.

        config SERVER_IP
            string "WiFi AP IP Address"
            default "192.168.4.1"
            help
                IP address that the ESP will assign to it's AP interface. You can use this IP to connect to the camera after flashing.

        config ESP_MAXIMUM_RETRY
            int "Maximum retry"
            default 5
            help
            Set the Maximum retry to avoid station reconnecting to the AP unlimited when the AP is really inexistent.
            
    endmenu
endmenu